<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ứng dụng truyền File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Truyền File với SHA-256</h1>
        <div class="upload-section">
            <h2>Tải lên File</h2>
            <input type="file" id="fileInput">
            <button id="uploadButton">Tải lên</button>
            <p id="uploadStatus"></p>
            <p id="uploadHash"></p>
        </div>

        <div class="download-section">
            <h2>Tải xuống File</h2>
            <ul id="fileList"></ul>
            <p id="downloadStatus"></p>
            <p id="downloadHash"></p>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html> 